/*--------------------------------
   Start Preloader & General Styling
----------------------------------*/
:root {
  --divide-bg-color: #25252f;
  --hvr-color: #7e2d2d;
}
html {
  height: 100%;
}

* {
  outline: none;
}

body {
  font-family: 'Roboto', "Noto Sans JP", sans-serif;
  font-weight: 300;
  height: 100%;
  color: #3d3a33;
}

.content a {
  color: inherit;
  border-bottom: 1px dashed #212121;
}

.content a:hover {
  border-bottom: 2px solid var(--hvr-color);
  text-decoration: none;
}

.no-js body {
  overflow: visible;
}

.all-container {
  opacity: 0;
  height: 100%;
}

.no-js .all-container {
  opacity: 1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #99999A;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.no-js #preloader {
  display: none;
}

.square-spin>div {
  width: 80px;
  height: 80px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 40px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s;
  z-index: 10;
}

.scroll-up-show {
  opacity: 1;
  transform: translateY(0px);
}

.scroll-up::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: -0.3rem;
  top: -0.3rem;
  border-radius: 50%;
  background: #999;
  opacity: 0.6;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.scroll-up:hover {
  color: #fff;
}
.scroll-up:hover::before {
  background: var(--hvr-color);
}

/*--------------------------------
   End Preloader & General Styling
----------------------------------*/

/*--------------------------------
  Start Header
----------------------------------*/

/* ========= Header ======= */

.header {
  background: #313131;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  min-height: 420px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 40px;
}

.no-js .logo {
  display: none;
}

.logo img {
  width: 205px;
}

.owl-carousel.owl-full-width {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.owl-carousel.owl-full-width .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.owl-carousel.owl-full-width .slider img {
  display: none;
}

.owl-full-width div {
  height: 100%;
}

.header .slider::after,
.header::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0);
  z-index: 9;
}

.slider-button {
  position: absolute;
  top: 49%;
  height: 35px;
  width: 35px;
  z-index: 10;
  border-radius: 100%;
  text-align: center;
  font-size: 29px;
  border: 2px solid #999;
  color: #999;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.slider-prev-button {
  left: 40px;
  transform: translateX(15px);
}

.slider-next-button {
  right: 40px;
  transform: translateX(-15px);
}

.slider-button:hover {
  background: #999;
  color: #fff;
}

.header:hover .slider-button {
  opacity: 1;
  transform: translateX(0px);
}

.slider-prev-button .fa {
  position: relative;
  top: -6px;
  left: -2px;
}

.slider-next-button .fa {
  position: relative;
  top: -6px;
  left: 2px;
}

.head-container {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  color: white;
  font-size: 30px;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 300;
  z-index: 10;
}

.head-holder {
  display: table-cell;
  vertical-align: middle;
}

.introduction {
  font-size: 60px;
  font-weight: 600;
}

.typist-blink:after {
  content: " ";
  display: inline-block;
}

.typist-blink>.selectedText {
  display: none;
}

.head-holder .hireMe {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  font-weight: 500;
  border-top: 3px solid white;
  border-bottom: 3px solid #fff!important;
  padding: 5px 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.head-holder .hireMe:hover {
  background: rgba(255, 255, 255, .4);
  color: #525252;
}

input+label {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 34px;
  z-index: 12;
}

.no-js input+label {
  display: none;
}

/* #burger {
  display: none;
} */

input+label span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation-icon:hover .burger-menu span {
  background: #6f6f6f;
}

input+label span:first-child {
  top: 0px;
}

input+label span:last-child {
  top: 19px;
}

label:hover {
  cursor: pointer;
}

input:checked+label span {
  opacity: 0;
  top: 50%;
  background: #6f6f6f;
}

input:checked+label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

input:checked+label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

/* ========= Full Screen Navigation ======= */

/* .fullscreen-nav-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 11;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fullscreen-nav-container .container-fluid {
  height: 100%;
}

.fullscreen-nav-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.no-js .fullscreen-nav-container {
  display: none;
}

.full-nav-container {
  height: 100%;
}

.full-nav-holder {
  height: 100%;
  display: table;
  width: 100%;
  margin: auto;
}

.full-nav-content {
  display: table-cell;
  vertical-align: middle;
}

.name {
  text-align: center;
}

.first-name {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 20px;
}

.last-name {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 42px;
}

.occupation {
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  overflow: hidden;
}

.fulscreen-nav {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fullscreen-nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fullscreen-nav-holder li {
  margin: 0px 10px;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.fullscreen-nav-holder li:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.fullscreen-nav-holder a {
  color: white;
  font-family: 'Rubik', 'Noto Sans Jp' sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.full-nav-icon-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.full-nav-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.full-nav-icons div {
  display: inline-block;
}

.full-nav-icons a,
.to-top a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.full-nav-icons .fab.fa-facebook-f {
  padding: 7px 10px;
}

.full-nav-icons li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 7px;
}

.full-nav-icons  li:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
} */

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
  Start Menu
----------------------------------*/

/* ========= 3.1 Desktop Menu ======= */

.menu {
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 999;
  position: fixed;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-fixer {
  position: relative;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* font-weight: bold; */
  -webkit-transition: background 1s;
  transition: background 1s;
}

.menu-normal {
  background: #fff;
}

/* .menu-container-transparent {
  background: rgba(0, 0, 0, 0.6);
} */

/* .desktop-menu-logo img {
  height: 42px;
} */

/* .desktop-menu-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 5px;
} */

.menu-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

/* .desktop-menu .hvr-underline-from-left:hover:before,
.desktop-menu .hvr-underline-from-left:focus:before,
.desktop-menu .hvr-underline-from-left:active:before,
.desktop-menu .hvr-underline-from-left.active:before {
  right: 0;
} */

/* .desktop-menu .hvr-underline-from-left:before {
  background: #fff;
}

.desktop-menu .hvr-underline-from-left:before {
  bottom: 11px;
  height: 2.5px;
}

.desktop-menu .hvr-underline-from-left.dark:before {
  background: #6f6f6f;
} */

/* .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  justify-self: flex-end;
  height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
} */

.menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: color 1s;
  transition: color 1s;
}

/* .menu-item-transparent.menu-item a {
  color: #6f6f6f;
} */

/* ========= Mobile Menu ======= */

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  top: 0;
  /* background: #fff; */
  /* box-shadow: 0px 0px 4px 0px; */
  transition: all 0.5s;
}
.mobile-menu-fix {
  position: fixed;
}

.mobile-menu-logo img {
  max-height: 55px;
  width: 50%;
}

.mobile-menu-logo {
  position: absolute;
  left: 15px;
  top: 7px;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 29px;
}

/* .mobile-menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 26px;
  padding-bottom: 12px;
} */

/* .mobile-menu-icons div {
  display: inline-block;
  margin-right: 5%;
}

.mobile-menu-icons .fa {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.mobile-menu-icons .fa:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #6f6f6f;
} */

.mobile-menu-nav {
  height: 20px;
  width: 34px;
  display: inline-block;
  position: absolute;
  right: 14px;
  top: 18px;
  z-index: 1000;
}

.mobile-menu-nav span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background: #c0c0c0;
  position: relative;
  top: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile-menu-nav:hover span,
.menu-link.active:hover span:first-child,
.menu-link.active:hover span:last-child {
  background: var(--hvr-color);
}

.mobile-menu-nav span:first-child {
  top: -3px;
}

.mobile-menu-nav span:last-child {
  top: 11px;
}

.mobile-menu-nav:hover {
  cursor: pointer;
}

.menu-link.active span {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.menu-link.active span:first-child {
  opacity: 1;
  background: #fff;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 5px;
}

.menu-link.active span:last-child {
  opacity: 1;
  background: #fff;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  top: -1px;
}

.menu-slider {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0px;
  overflow: auto;
  opacity: 0;
  background: linear-gradient(70deg, #fff7dd 30%, #bcbcbc);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.open {
  height: 100vh;
  width: 100%;
  opacity: 1;
}
.menu-slider ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.mobile-menu {
  background: none;
  box-shadow: none;
  right: 0px;
  transition: all 0.3s;
}
.mobile-menu-list {
 padding-top: 45px!important;
 padding-left: 0;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 height: calc(100vh - 60px);
}

.menu-slider li, .footer-icons li {
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: center;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.menu-slider li a {
  color: var(--divide-bg-color);
  font-size: calc(0.4rem + 1.2vw);
  font-family: 'Averia Serif Libre';
  letter-spacing: 0.7vw;
}
.menu-slider nav {
 opacity: 0;
 -webkit-transition: all 0.1s linear;
 transition: all 0.1s linear;
}
.menu-slider li:hover, .footer-icons li:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.menu-slider.open nav {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  transition-delay: 300ms;
}

.back-arrow {
  color: #25252f!important;
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: 1002;
}
/*--------------------------------
   End Menu
----------------------------------*/

/*--------------------------------
   Start About Me
----------------------------------*/

.about-me .container {
  padding-top: 100px;
}

.about-me {
  background: var(--divide-bg-color);
  padding: 100px 0px 150px;
  z-index: 0;
  position: relative;
  background-size: cover;
  background-position: 32%;
}

.about-me::before {
  content: "";
  background: radial-gradient(at left 90%, #ffffff7e, #ffffff00 40%, #ffffff00 70%, #ffffff4b);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.about-me .about-me-text {
  background-color: #f7d4601c;
  -webkit-backdrop-filter: blur(8px) contrast(0.7);
  backdrop-filter: blur(8px);
  padding: 1rem;
  border-radius: 4px;
}

.about-me-text h1 {
  position: relative;
  /* color: #525252; */
  /* font-weight: 700; */
  letter-spacing: 2px;
  padding-bottom: 0;
}

.about-me-text p {
  color: #fff;
  font-size: 1rem;
}

/*.about-me-text h1:before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 70px;
  height: 3px;
  background: #525252;
}*/

/* .download-cv {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 7px 10px;
}

.download-cv:hover,
.download-cv:focus {
  text-decoration: none;
  color: #4d4d4d;
} */

/* .about-me-images img {
  width: 100%;
  opacity: .9;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
} */
/* 
.about-me-images img:hover {
  width: 100%;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
} */

/* .about-me .hvr-icon-hang:before {
  content: "\f0ab";
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  right: 8px;
  font-weight: 900;
  top: 6px;
  font-size: 16px;
} */

/* ========= Start Experience ======= */

.experience-skill {
  margin-top: 40px;
}

.experience h3,
.skill h3 {
  color: #6f6f6f;
  font-weight: 700;
  letter-spacing: 2px;
}

.experience-chart {
  list-style: none;
  padding: 0px 0px 0px 6px;
  margin-top: 40px;
}

ul.experience-chart li {
  padding-left: 30px;
  border-left: 2px solid #6f6f6f;
  padding-bottom: 10px;
  position: relative;
}

ul.experience-chart li:last-child {
  padding-bottom: 0;
}

ul.experience-chart li:after {
  position: absolute;
  top: -1px;
  left: -12px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4d4d4d;
  background: #fff;
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.7s;
}

ul.experience-chart li:hover:after {
  background: #4d4d4d;
}

ul.experience-chart h4 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  color: #4d4d4d;
}

.experience-chart li span {
  font-weight: 700;
  color: #6f6f6f;
}

.experience-chart li p {
  color: #6f6f6f;
}

.single-experience {
  position: relative;
  top: -2px;
}

/* ========= Start Skill ======= */

.skill-progress-bar {
  margin-top: 41px;
}

.skillbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #fff;
  border: 2px solid #6f6f6f;
  height: 18px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.no-js .first-skill {
  width: 98%;
}

.no-js .second-skill {
  width: 85%;
}

.no-js .third-skill {
  width: 92%;
}

.no-js .fourth-skill {
  width: 60%;
}

.skillbar-title,
.skill-bar-percent {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 7px;
}

.skill-bar-percent {
  float: right;
}

.skillbar-bar {
  height: 10px;
  margin: 0px 2px;
  width: 0px;
  background: #4d4d4d;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
  Start Services
----------------------------------*/
.need-service .divider svg {
  fill: #fff;
  position: absolute;
  top: 99px;
  left: 0;
  filter: drop-shadow(0px 5px 3px rgba(38, 32, 15, 0.2));
}

.need-service {
  position: relative;
  background: #fff;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.need-service .container {
  margin-right: 70px;
  height: 130px;
  max-width: 140px;
  box-shadow: inset 3px 3px 7px #1e3d5389;
  background-image: url("/images/backgrounds/need-service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3rem 4rem 3rem 5rem;
}

.need-service a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
  margin-top: 3rem;
  transition: .2s ease;
}

.need-service a:hover {
  background: transparent;
  color: var(--divide-bg-color);
}

/*--------------------------------
 End Services
----------------------------------*/

/*--------------------------------
   Start Portfolio
----------------------------------*/
.portfolio .divider svg {
  fill: #fff;
  position: absolute;
  transform: scaleX(-1);
  bottom: 49px;
}

.portfolio {
  background: radial-gradient(at 20%,#e5e5e5, #fff 30%);
  padding: 50px 0 200px;
  position: relative;
}

.portfolio h1 {
  color: #25252f;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  position: relative;
  padding: 3rem 0 3rem;
}

.filtering {
  width: 100%;
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.no-js .filtering {
  display: none;
}

.portfolio-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
}

.no-flexbox .portfolio-navigation {
  display: inherit;
}

.portfolio-navigation label {
  cursor: pointer;
  padding: 7px 14px;
  color: #999;
  margin: 5px 5px;
  border-radius: .4rem!important;
  background-color: transparent;
  border: none;
}

.portfolio-navigation label:hover {
  color: #6f6f6f;
  background-color: transparent !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  color: #6f6f6F;
  border-color: #efdbb5 !important;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: transparent;
  border-color: #efdbb5;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #6F6f6f;
  background-color: #efdbb5 !important;
  border-color: #efdbb5 !important;
}
.portfolio .hvr-radial-out.active:before {
  background: #efdbb5;
}

.portfolio .hvr-radial-out:before {
  background: #efdbb5;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.portfolio .hvr-radial-out.active:before {
  background: transparent;
}
.filtr-item {
  padding: 6px 6px 9px;
}
.filtr-item img {
  width: 100%;
}
.filtr-item:hover .item-holder img {
  cursor: pointer;
}

.item-holder {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
  filter: drop-shadow(0 0 3px #0000001f);
  border-radius: 4px;
  img {
    object-fit: cover;
    min-height: 200px;
  }
}

.item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 3px 0;
  opacity: 0;
  background: linear-gradient(#fff0, #ffffffd4, #fff 70%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.item-caption h2 {
  font-family: 'Averia Serif Libre';
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  overflow-wrap: break-word;
  word-break:keep-all;
  padding: 0;
}
.item-caption:lang(jp) h2 {
  font-size: 0.8rem;
  letter-spacing: 0;
}
.item-caption a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.item-caption a:hover {
  color: #cfb890!important;
}
.item-caption p {
  color: #999!important;
  font-weight: 400;
  font-size: 0.7rem;
  display: inline-block;
  padding: 0 5px 0 0;}

.item-created {
  text-decoration: none;
  position: absolute;
  background: none;
  text-align: right;
  right: 0;
  bottom: 0;
  padding: 0 3px 0 0;
  font-size: 0.7rem;
  color: #999!important;
}

.filtr-item:hover .item-caption {
  opacity: 1;
}

.item-holder a {
  text-decoration: none;
  color: #25252f;
}

.item-holder a:focus {
  outline: none;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder,
.mfp-close {
  cursor: crosshair;
}

.loadmore {
  display: inline-block;
  background: transparent;
  margin-top: 25px;
  text-decoration: none;
  color: #6f6f6f;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid #6f6f6f;
  padding: 5px 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.loadmore:hover {
  background: #6f6f6f;
  color: #fff;
  border: 2px solid #6f6f6f;
  text-decoration: none;
}

.portfolio .btn:only-of-type {
  padding: 9px 23px;
  border-radius: 50%;
  font-size: 30px;
  background: #25252f;
}

#carouselExampleControls {
  padding: 1rem 0 3rem;
  /* overflow: hidden; */
}
.carousel-item {
  height: calc(100vh - 200px);
  img {
    object-fit: contain;
    height: 100%;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #25252f;
  /* font-size: 1.5rem; */
  background: none;
  svg {
    filter: drop-shadow(0px 0px 2px #fff);
  }
}

h4 { /* categorie name */
  font-family: 'Averia Serif Libre';
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}
li.media + * {
 vertical-align: middle;
}
/*--------------------------------
 End Portfolio
----------------------------------*/

/*--------------------------------
   Start Testimonials
----------------------------------*/

/* ========= Start Main Testimonials ======= */

/* .testimonials {
  background: #fff;
  padding: 70px 0px;
}

.owl-carousel {
  margin-top: 50px;
}

.testimonials-container h1 {
  position: relative;
  text-align: center;
  color: #6f6f6f;
  font-weight: 700;
  letter-spacing: 2px;
}

.testimonials-container h1:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 5px;
  background: #6f6f6f;
}

.single-testimonial img {
  width: 160px;
  margin: auto;
  border-radius: 100%;
}

.no-js .single-testimonial img {
  width: 165px;
  display: inherit;
}

.single-testimonial h2 {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 2px;
}

.single-testimonial span {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #6f6f6f;
  margin-bottom: 15px;
}

.single-testimonial p {
  color: #6f6f6f;
  font-weight: 500;
  font-size: 17px;
  width: 60%;
  text-align: center;
  margin: auto;
}

.no-js .single-testimonial p {
  margin-bottom: 40px;
}

.single-testimonial .fa {
  font-size: 25px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #fff;
  border: 2px solid #6f6f6f;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #6f6f6f;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 20px;
} */

/* ========= 7.2 Start Fun Facts ======= */

/* .no-js .fun-facts {
  display: none;
}

.fun-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fun-fact-holder img {
  display: block;
  margin: auto;
  width: 80px;
}

.fun-fact-holder p {
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  color: #6f6f6f;
  font-weight: 700;
}

.fun-fact-holder .fact-counter {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  margin-top: 13px;
} */

/*--------------------------------
   End Testimonials
----------------------------------*/

/*--------------------------------
   Start Contact
----------------------------------*/
.contact .divider svg {
  fill: #25252f;
  position: absolute;
  transform: scaleX(-1);
  bottom: -1px;
}

.contact {
  background: #25252f;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-attachment: scroll; */
  position: relative;
  padding-top: 0;
  svg.bi-pencil {
    color: #999;
    display:block;
    margin-inline: auto;
    margin-bottom: 0.6rem;
  }
}

.contact::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(at center 90%, #2f2c26f0, #25252f 50%);
  z-index: 0;
}
.contact-holder {
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

.contact-holder h1 {
  position: relative;
  text-align: center;
  color: #525252;
  letter-spacing: 0.4rem;
}

.form-container {
  border-radius: 4px 4px 1rem 1rem;
  padding: 0.7rem;
  margin-top: 0;
  opacity: 1;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.form-container .form-control {
  height: 47px;
  background: none;
  color: #999;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #525252;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.form-container .help-block,
.form-container .with-errors {
  color: #fff;
}

.form-container textarea.form-control {
  height: auto;
}

.submit {
  width: 120px;
  margin: auto;
  display: block;
  background: #fff!important;
  border-radius: 2rem!important;
}

.contact-holder:hover .form-container,
.form-container:has(.form-control:focus) {
  opacity: 1;
  background: var(--hvr-color);
}

.form-container .form-control::placeholder {
  color: #999;
  font-size: 1rem;
}
.form-container .form-control:focus {
  background: #25252f;
  border: none;
}

/*--------------------------------
   footer
----------------------------------*/

.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
}

.footer-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0!important;
}

.footer-icons a, .to-top a, .contact-holder h1, .credit {
  color:#999;
}

.footer-icons .svg-icon {
  width: 25px;
  height: 25px;
  fill: #999;
}

.credit {
  text-align: center;
  font-size: 0.75rem;
}

.content.text-white * {
  color: #fff;
}

.z-index-9 {
  z-index: 9;
}

/*--------------------------------
   End Contact
----------------------------------*/
/*--------------------------------
  Start Header
----------------------------------*/

@media(max-width: 550px) and (min-height: 501px) {
  .introduction {
    font-size: 45px;
    margin-bottom: 5px;
  }

  .animated-text {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 2px;
  }

  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 18px;
    padding: 3px 12px;
  }
}


@media (min-width: 100px) and (max-width: 767px) {
  .fullscreen-nav-holder {
    flex-direction: column;
    align-items: center;
  }

  .fullscreen-nav-holder li a {
    display: block;
    padding: 10px;
  }
}

@media (max-width: 470px) {
  .name {
    margin-top: 100px;
  }
}

@media (min-width: 470px) and (max-width: 727px) {
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
  }

  .full-nav-icon-holder {
    margin-top: 15px;
  }
}

@media (min-width: 728px) and (max-height:470px) {
  .full-nav-container {
    margin-top: 20px;
  }
}

@media (min-width: 469px)and (max-width: 727px) and (max-height:500px) {
  .full-nav-container {
    margin-top: 20px;
  }

  .first-name,
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }

  .occupation {
    font-size: 15px;
  }

  .fulscreen-nav {
    margin-top: 25px;
  }

  .full-nav-icon-holder {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-height: 535px) and (max-width: 468px) {

  .first-name,
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }

  .occupation {
    font-size: 15px;
  }

  .name {
    text-align: left;
  }

  .full-nav-container {
    margin-top: 20px;
  }

  .fullscreen-nav-holder div {
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }

  .fulscreen-nav {
    margin-top: 25px;
  }

  .full-nav-icon-holder {
    margin-top: -5px;
    width: 70%;
    justify-content: flex-start;
  }

  .full-nav-holder {
    padding-left: 20px;
    display: block;
  }

  .full-nav-content {
    display: block;
  }
}

@media (max-width: 469px) and (min-height: 536px) {
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  .full-nav-icon-holder {
    margin-top: 15px;
  }

  .full-nav-container {
    margin-top: 20px;
  }

  .first-name {
    font-size: 35px;
  }

  .last-name {
    font-size: 70px;
    font-weight: 600;
    line-height: 0;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .occupation {
    font-size: 14px;
  }

  .fullscreen-nav {
    margin-top: 35px;
  }

  .full-nav-holder {
    display: block;
  }

  .full-nav-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .logo {
    left: 10px;
  }

  .header .logo img {
    width: 185px;
  }

}

@media (max-width: 880px) {
  .slider-button {
    display: none;
  }
}

@media (max-width: 990px) {
  .header {
    background-position: center;
  }
}

@media (min-height: 301px) and (max-height: 500px) {
  .introduction {
    font-size: 35px;
  }

  .animated-text {
    font-size: 18px;
  }

  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }
}

@media (max-height: 300px) {
  .introduction {
    font-size: 35px;
  }

  .animated-text {
    font-size: 18px;
  }

  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }

  .head-container {
    display: block;
    margin-top: 130px;
    margin-bottom: 50px;
    height: auto;
  }
}

@media(max-width: 468px) and (max-height: 440px) {
  .full-nav-container {
    margin-bottom: 30px;
  }

  .fullscreen-nav-container {
    position: absolute;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 447px;
  }
}

@media (max-height: 430px) {
  .fullscreen-nav-container {
    min-height: 420px;
  }
}

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
 Start Menu
----------------------------------*/

@media (max-width: 991px) {
  .desktop-menu {
    width: 95%;
    margin-left: 10px;
  }
}

@media (min-width: 0px) {
  .desktop-menu, #select-language {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .menu-container {
    justify-content: flex-end;
    padding: 0px 20px;
    height: 0px;
    background: #fff;
  }

  .desktop-menu-logo {
    display: none;
  }

  .menu-container-transparent {
    background: rgb(255, 255, 255);
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .menu-container {
    justify-content: flex-start;
  }
}

/*--------------------------------
 End Menu
----------------------------------*/

/*--------------------------------
  Start About Me
----------------------------------*/

@media (max-width: 767px) {
  .about-me-text {
    display: block;
    height: auto;
    margin-bottom: 30px;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }

  .about-me-image {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
    margin-bottom: 30px;
  }

  .about-me-holder {
    display: flex;
    flex-wrap: wrap;
  }

  .experience-skill {
    margin-top: 10px;
  }

  .experience-chart,
  .skill-progress-bar {
    margin-top: 25px;
  }

  .skill {
    margin-top: 30px;
  }

  .skillbar {
    margin-bottom: 15px;
  }
}

@media (min-width:601px) and (max-width: 991px) {
  .about-me {
    padding: 170px 0px 35px 0px;
  }
}

@media (max-width: 767px) {
  .about-me {
    padding: 90px 0px 0px 0px;
  }
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
  Start Services
----------------------------------*/

@media(min-width: 526px) and (max-width: 767px) {
  .services-icon img {
    width: 100%;
  }

  .service-label {
    top: 110px;
    letter-spacing: 0;
    font-size: 17px;
  }
}

@media (max-width: 525px) {
  .min-width-bar {
    left: 40%;
    right: 40%;
  }
}

@media (max-width: 475px) {
  .services-heading h1 {
    margin-bottom: 80px;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .services {
    padding: 70px 0px 35px 0px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 70px 0px 0px 0px;
  }
}

/*--------------------------------
 End Services
----------------------------------*/

/*--------------------------------
  Start Portfolio
----------------------------------*/
/*--------------------------------
  End Portfolio
----------------------------------*/

/*--------------------------------
   Start Testimonials
----------------------------------*/

/* @media(max-width: 380px) {
  .single-testimonial p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .fun-facts {
    justify-content: space-around;
  }

  .fun-fact-holder {
    margin-bottom: 40px;
  }
}

@media (min-width:766px) and (max-width: 991px) {
  .testimonials {
    padding: 70px 0px 35px 0px;
  }
}

@media (max-width: 767px) {
  .testimonials {
    padding: 70px 0px 0px 0px;
  }
} */

/*--------------------------------
  End Testimonials
----------------------------------*/

/*--------------------------------
  Start Contact
----------------------------------*/

@media (max-width: 300px) {
  .footer-icons {
    width: 100%;
  }

  .footer-icons .fa {
    margin-bottom: 10px;
  }
}

/*--------------------------------
  End Contact
----------------------------------


/* new css */

/* Button style */
.btn {
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:hover,
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-primary {
  background: #313131;
  color: #fff;
  border-color: #313131;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
  background: #efdbb5 !important;
  border-color: #efdbb5 !important;
  color: #313131;
}

.btn-outline-primary {
  background: transparent;
  color: #313131;
  border-color: #313131;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  background: #313131 !important;
  border-color: #313131 !important;
  color: #fff;
}

/* blog */

.card{
  border: 0;
  border-radius: 0;
}

.card-img-top{
  border-radius: 0;
  transition: .2s ease;
}

.card-body{
  padding: 15px 0;
}

.card-title{
  color: #6f6f6f;
}

.card-title:hover{
  color: #6f6f6f;
}

.card-img-wrapper{
  overflow: hidden;
  display: block;
}

.card:hover .card-img-top{
  transform: scale(1.2);
}


/* pagination */
.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
}

.pagination .page-item {
  list-style-type: none;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  line-height: 1.3;
  height: 40px;
  border-radius: 0;
  border: 1px solid #999;
  text-align: center;
  margin-right: 6px;
  font-weight: 600;
  color: #4d4d4d;
}

.pagination .page-item .page-link:hover {
  background: #4d4d4d;
  color: #fff;
}

.pagination .page-item.active .page-link {
    background: #4d4d4d;
    color: #fff;
    border-color: #4d4d4d;
}

/* tags */
.tags {
  font-size: 20px;
}

/* widget */

.widget{
  margin-bottom: 20px;
}

.widget-list a{
  font-size: 18px;
  padding: 4px 0;
  display: block;
  color: #6f6f6f;
}

.widget-img{
  height: 70px;
  width: 85px;
  object-fit: cover;
  margin-right: 10px;
}