{{ define "main" }}

<style>{{.Params.custom_css | safeCSS}}</style>
<section class="portfolio portfolio-list {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="portfolio-typo">
  <span class="desc-nom wow blurIn" data-wow-duration=".6s">Takeshi JONOO</span>
  <h1 class="wow blurIn" data-wow-duration=".6s">{{ .Title }}</h1>
  <h2 class="desc-domain wow blurIn" data-wow-duration=".6s">{{ .Description }}</h2>
  </div>
        <!-- <div class="portfolio-navigation wow fadeInUp" data-wow-duration=".7s" data-toggle="buttons">
            <label class="btn">
              <input class="tag" type="radio" name="shuffle-filter" value="all" checked="checked" />All
            </label>
            {{ $categories := slice }}
            {{ range .Data.Pages }}
            {{ range .Params.categories }}
            {{ $categories = $categories | append . }}
            {{ end }}
            {{ end }}
            {{ range ( $categories | uniq ) }}
            <label class="btn">
              <input type="radio" name="shuffle-filter" autocomplete="off" value="{{ . | urlize }}" />{{ . | humanize }}
            </label>
            {{ end }}
        </div>
     -->
        <div class="pf-wrapper">
          {{ range .Data.Pages }}
          <div class="filtr-item wow fadeInUp" data-wow-duration=".8s" data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
              <a class="" href="{{.Permalink}}" title="{{ .Title | markdownify }}"><img src="{{ .Params.image | absURL }}" alt="{{ .Title | markdownify }}"></a>
              <div class="item-caption">
                <a href="{{.Permalink}}">
                  <h2>{{ .Title | markdownify }}</h2>
                </a>
                {{ range .Params.categories }}
                <p>{{ . | title }}</p>
                {{ end }}
               <div class="item-created">{{ .PublishDate.Format "2006" }}</div>
              </div>
          </div>
          {{ end }}
        </div>
</section>

{{ end }}
