{{ define "main" }}

<style>{{.Params.custom_css | safeCSS}}</style>
<section class="portfolio portfolio-list {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="portfolio-typo">
  <span class="desc-nom wow blurIn" data-wow-duration=".6s">Takeshi JONOO</span>
  <h2 class="wow blurIn" data-wow-duration=".6s">Portfolio</h2>
  </div>
  <!-- <img src="/images/backgrounds/logo-portfolio.svg"> -->
  <div class="portfolio-filters wow fadeInUp" data-wow-duration=".7s">
     <button class="button is-checked" data-filter="*">Artiste</button>|
     <button class="button" data-filter=".art">Peintre</button>|
     <button class="button" data-filter=".illustration">Ilustrateur</button>|
     <button class="button" data-filter=".design">Graphiste</button>
  </div>
    
        <div class="pf-wrapper">
          {{ range .Data.Pages }}
          <div class="filtr-item {{range $index, $element:= .Params.categories }}{{if ne $index 0}}{{end}} {{. | urlize}}{{ end }}">
              <a class="" href="{{.Permalink}}" title="{{ .Title | markdownify }}"><img src="{{ .Params.image | absURL }}" alt="{{ .Title | markdownify }}"></a>
              <div class="item-caption">
                <a href="{{.Permalink}}">
                  <h3>{{ .Title | markdownify }}</h3>
                </a>
                {{ range .Params.categories }}
                <p>{{ . | title }}</p>
                {{ end }}
               <div class="item-created">{{ .PublishDate.Format "2006" }}</div>
              </div>
          </div>
          {{ end }}
        </div>
</section>

{{ end }}
