{{ define "main" }}

<style>{{.Params.custom_css | safeCSS}}</style>
<section class="portfolio portfolio-list {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="portfolio-typo">
  <span class="desc-nom wow blurIn" data-wow-duration=".6s">Takeshi JONOO</span>
  <h2 class="wow blurIn" data-wow-duration=".6s">Portfolio</h2>
  </div>
  <div class="portfolio-filters wow fadeInUp" data-wow-duration=".7s">
    {{ range  $i,$e := .Params.Metier }}
     {{ if ne $i 0 }}|{{end}}<button class="button{{ if eq $i 0 }} is-checked{{end}}" data-filter="{{ .data }}">{{ .name | markdownify }}</button>
     {{ end }}
  </div>
    
        <div class="pf-wrapper">
          {{ range .Data.Pages }}
          <div class="filtr-item {{range $index, $element:= .Params.categories }}{{if ne $index 0}}{{end}} {{. | urlize}}{{ end }}">
              <a class="" href="{{.Permalink}}" title="{{ .Title | markdownify }}"><img src="{{ .Params.image | absURL }}" alt="{{ .Title | markdownify }}"></a>
              <div class="item-caption">
                <a href="{{.Permalink}}">
                  <h3>{{ .Title | markdownify }}</h3>
                </a>
                {{ range .Params.categories }}
                <p>{{ . | title }}</p>
                {{ end }}
               <div class="item-created">{{ .PublishDate.Format "2006" }}</div>
              </div>
          </div>
          {{ end }}
        </div>
</section>
{{ end }}
