{{ define "main" }}

<style>{{.Params.custom_css | safeCSS}}</style>
<section class="section {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="wow fadeInUp carousel-inner" data-wow-duration="1s">
          <div class="carousel-item active" href="{{ .Params.Image | absURL }}" title="{{ .Params.img_title | markdownify }}">
            <img src="{{.Params.Image | absURL}}" alt="image" class="d-block img-fluid w-100">
          </div>
            {{ range .Params.resources }}
            <div class="carousel-item" href="{{ .src | absURL }}" title="{{ .title | markdownify }}">
            <img src="{{ .src | absURL }}" alt="{{ .title | markdownify }}" class="d-block img-fluid w-100">
          </div>
          {{ end }}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
            </svg>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"/>
            </svg>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
          <div class="single-text mb-4">
            <h3>{{.Title | markdownify}}</h1>
          </div>
          <div class="content mb-5">{{.Content}}</div>

          <!-- <div class="row gallery">
            {{ range .Params.resources }}
          <div class="col-6">
            <a class="image-pop" href="{{ .src | absURL }}" title="{{ .title | markdownify }}">
              <img src="{{ .src | absURL }}" alt="{{ .title | markdownify }}">
            </a></div>
            {{ end }}
          </div> -->

      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="sticky-top wow fadeInUp" data-wow-duration="1s" style="top: 80px;">
          <ul class="list-unstyled">
            <li class="media mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
              </svg>
              <!-- <i class="mt-1 fas fa-calendar h2"></i> -->
               <div class="ml-3">
                 <h4>Date</h4>
                 <div class="content">
                   {{ if .Params.Date_show }}
                   {{ .Params.Date_show }}{{else}}{{ .PublishDate.Format "Jan, 2006" }}{{ end }}
                   </div>
               </div>
             </li>
             <li class="media mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
                <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z"/>
              </svg>
                <div class="ml-3">
                  <h4>Categories</h4>
                  <div class="content">{{range $i,$e:= .Params.categories }}{{if ne $i 0}},{{end}} {{.|title}}{{end}}</div>
                </div>
              </li>
            {{ range .Params.project_info }}
            <li class="media mb-3">
             {{ with .icon}}
             <img src="/images/icons/{{.}}.svg">
             {{ end }}
              <div class="ml-3">
                <h4>{{.name | markdownify}}</h4>
                <div class="content">{{.content | markdownify}}</div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
