<script>
// 	const els = document.getElementsByClassName(".accordion");
//     // const i;

//     for (i = 0; i < els.length; i++) {
//     els[i].addEventListener('click', function() {
// 	this.classList.toggle('is-opened');
//     });
// }


// function accordion () {
// 	const els = document.querySelector('.accordion');
//     els.addEventListener('click', function() {
// 	this.classList.toggle('is-opened');
//     });
//     }
//     accordion();

//
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
    this.classList.toggle("is-opened");
    });
} 
</script>