<footer class="footer-bg blurIn wow" data-wow-duration="1s">
  <div class="container">
    <div class="row">
      <div class="footer">
        {{ partial "social-icon" }}
        <!-- <ul class="footer-icons list-inline">
          {{ range site.Params.social }}
          <li><a href="{{ .link | safeURL }}">
            <i class="{{ .icon }}"></i>
          </a></li>
          {{ end }}
        </ul> -->
        <div class="credit content">
         {{ site.Params.copyright | markdownify }}
        </div>
      </div>
    </div>
  </div>
</footer>
