<script>
    // var titleLogo = document.querySelector(".title-logo");
    // function titleDraw() {
    //     titleLogo.classList.add("drawed");
    // }
    // setTimeout(titleDraw, 750);

    // Carousel recent works
    var elem = document.querySelector(".rw-wrapper");
    var flktyRW = new Flickity(elem, {
        pageDots: false,
        selectedAttraction: 0.01,
        friction: 0.24,
        fade : true,
        autoPlay: 3000,
        wrapAround: true,
        pauseAutoPlayOnHover: false,
        cellAlign: 'left',
        prevNextButtons: false,
        arrowShape: {
            x0: 25,
            x1: 60,
            y1: 50,
            x2: 65,
            y2: 50,
            x3: 40,
        },
    });
</script>
