<ul class="footer-icons list-inline">
    <li><a href="mailto:takeshi.jonoo@gmail.com">
      <span>{{ partial "svg" (dict "name" "envelope" "class" "svg-icon") }}</span>
    </a></li>
    <li><a href="https://www.facebook.com/takeshi.jonoo">
      <span>{{ partial "svg" (dict "name" "facebook" "class" "svg-icon") }}</span>
    </a></li>
    <li><a href="https://www.instagram.com/takeshi_jonoo_drawing">
      <span>{{ partial "svg" (dict "name" "instagram" "class" "svg-icon") }}</span>
    </a></li>
</ul>