{{ define "main" }}

<!-- Start Header -->
{{ with .GetPage "banner" }}
<style>{{.Params.custom_css | safeCSS}}</style>

<div id="background-slide">
  {{ range .Params.slider_images }}
  <img src="{{ . | absURL }}" alt="slider-background">
  {{ end }}
</div>

<section class="header {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="home">
  <div class="head-holder">
          <img src="/images/logo_takeshi.png" style="width:100%;" class="blurIn" alt="Takeshi JONOO">
          <div class="animated-text blurIn">
              {{ range .Params.occupations }}
              <div class="rotate">{{ . }}</div>
              {{ end }}
          </div>
          <div class="btn-start">
            <a href="#hello">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
              </svg>
            </a>
          </div>
  </div>

</section>
{{ end }}
<!-- End Header -->

<!-- Start Menu -->
{{- partial "header.html" . -}}
<!-- End Menu -->

<!-- Start Hello -->
{{ with .GetPage "hello"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="hello {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="hello">
  <div class="container">
    {{ if eq .Page.Lang "fr" }}
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt1 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt2 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt3 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt4 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt5 }}</div>
    {{ else }}
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt1 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt2 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt3 }}</div>
    <div class="hello-txt wow fadeInUp" data-wow-duration="1s">{{ .Params.txt4 }}</div>
    {{ end }}
  </div>
  <div class="btn-start">
    <a href="#portfolio">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
      </svg>
    </a>
  </div>
</section>
{{ end }}
<!-- End Hello -->

<!-- Start Portfolio -->
{{ with .GetPage "portfolio"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="portfolio portfolio-index {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="portfolio">
  {{ partial "divider" }}
        <h2 class="wow blurIn" data-wow-duration="0.6s" id="portfolio-h2">{{ .LinkTitle }}</h2>
        <div class="rw-wrapper wow fadeInUp" data-wow-duration="1s">
          {{ range first 6 .Data.Pages }}
          <div class="carousel-cell">
              <a class="" href="{{.Permalink}}" title="{{ .Title | markdownify }}"><img src="{{ .Params.image | absURL }}" loading="lazy" alt="{{ .Title | markdownify }}"></a>
              <div class="item-caption">
                <a href="{{.Permalink}}">
                  <h3>{{ .Title | markdownify }}</h3>
                </a>
                {{ range .Params.categories }}
                <p>{{ . | title }}</p>
                {{ end }}
                <div class="item-created">
                  {{ if .Params.date_show }}
                  {{ .Params.Date_show }}{{else}}{{ .Params.Date.Format "2006"}}{{ end }}
                </div>
              </div>
          </div>
          {{ end }}
        </div>
        {{ if gt (len .Data.Pages) 8}}
        <div class="wow fadeInUp" data-wow-duration="1s">
          <a href="{{`portfolio` | absLangURL}}" class="btn-more">{{ .Params.link_list | markdownify  }}</a>
        </div>
        {{ end }}

</section>
{{ end }}
<!-- End Portfolio -->

<!-- Start News -->
{{ with .GetPage "news"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="news accordion {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="news">
    {{ partial "divider" }}
  <h2 class="wow blurIn" data-wow-duration="0.6s" id="news-h2">{{ .Title }}</h2>
  <div class="acc">
  <div class="acc-content">
  <div class="post-container content">
    {{ range .Pages.ByDate.Reverse }}
    {{ partial "post-summary.html" . }}
    {{ end }}
  </div>
  </div>
  </div>
  {{ partial "divider-bas" }}
  {{ partial "randomize-color" }}
</section>
{{ end }}
<!-- end News -->

<!-- Start About Me -->
{{ with .GetPage "about" }}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="about-me accordion {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}  style="background-image: url('{{ .Params.image | absURL}}');" id="about">
  <h2 class="wow blurIn" data-wow-duration="0.6s">{{ .Title | markdownify}}</h2>
  <div class="acc">
  <div class="acc-content">
    <div class="content">{{ .Content | markdownify | emojify }}</div>
  </div>
  </div>
</section>
{{ end }}
<!-- End About Me -->

<!-- Start Contact -->
{{ with .GetPage "contact"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="contact {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="contact">
{{ partial "divider" }}
    <h2 class="wow blurIn" data-wow-duration="0.6s" id="contact-h2">{{ .Title | markdownify}}</h2>
    <div class="acc">
      <div class="acc-content">
        <p class="wow fadeInUp" data-wow-duration="1s"><a href="mailto:takeshi.jonoo@gmail.com">takeshi.jonoo@gmail.com</a></p>
      </div>
    </div>
{{- partial "footer.html" -}}
</section>
{{ end }}
<!-- End Contact -->
{{ partial "accordion" }}
 
{{ end }}
